@font-face {
  font-family: GothicA1;
  src: url('../fonts/GothicA1-Regular.ttf');

  font-family: SfProDisplay;
  src: url('../fonts/SFPRODISPLAYBOLD.OTF');

  font-family: TTHovesBold;
  src: url('../fonts/TT-Hoves-Bold.otf');

  font-family: TTHovesLigth;
  src: url('../fonts/TT-Hoves-Light.otf');

  font-family: TTHovesMedium;
  src: url('../fonts/TT-Hoves-Medium.otf');

  font-family: TTHovesRegular;
  src: url('../fonts/TT-Hoves-Regular.otf');
}
